/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
* {
  box-sizing: border-box;
  cursor: default; }

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after {
  content: '';
  content: none; }

q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

@keyframes flash {
  from {
    background-color: #5b6ec7; }
  to {
    background-color: #f1f1f1; } }
html {
  height: 100%;
  width: 100%;
  overflow: hidden; }

body {
  color: #64656a;
  font-family: -apple-system, Helvetica, Arial, sans-serif;
  margin: 0;
  height: 100%; }

.ui-root {
  display: flex;
  flex-flow: column;
  height: 100%;
  margin: 0; }

.title-bar {
  flex: 0 0 36px;
  justify-content: space-between;
  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;
  background-color: white;
  height: 36px;
  width: 100%;
  box-shadow: 0 0 8px 0 #afb0b5; }
  .title-bar .btn-close, .title-bar .btn-minimize {
    cursor: default;
    display: inline-block;
    opacity: .4;
    margin-top: 10px;
    height: 18px;
    width: 18px; }
    .title-bar .btn-close:hover, .title-bar .btn-minimize:hover {
      opacity: 0.75; }
    .title-bar .btn-close:active, .title-bar .btn-minimize:active {
      opacity: 1; }
  .title-bar .btn-close {
    background: url(../img/btn_close.svg) center no-repeat;
    margin-left: 10px; }
  .title-bar .btn-minimize {
    background: url(../img/btn_minimize.svg) center no-repeat;
    margin-left: 6px; }
  .title-bar .logo {
    display: block;
    float: right;
    margin: 12px 10px;
    padding-bottom: 3px;
    vertical-align: baseline; }

.sites-list {
  flex: 1 1 auto;
  margin: 0;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch; }
  .sites-list .site-cell {
    border-bottom: 1px solid #f1f2f2;
    display: flex;
    align-items: center;
    padding: 14px 0; }
    .sites-list .site-cell .site-info {
      flex: 1 1 0;
      padding: 4px 0; }
      .sites-list .site-cell .site-info h1 {
        color: #64656a;
        font-size: 14px;
        font-weight: bold;
        margin-bottom: 0;
        transition: color 100ms linear; }
        .sites-list .site-cell .site-info h1.server-active {
          color: #5b6ec7; }
      .sites-list .site-cell .site-info .site-folder {
        background: url("../img/icn_folder.svg") left no-repeat;
        color: #afb0b5;
        font-size: 11px;
        padding-left: 12px;
        padding-top: 2px;
        min-width: 0;
        height: 1.3em;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: color 100ms linear; }
        .sites-list .site-cell .site-info .site-folder:hover {
          color: #64656a;
          opacity: 1; }
    .sites-list .site-cell .site-options {
      flex: 0 0 130px;
      padding: 0 12px 0 0;
      text-align: right; }
      .sites-list .site-cell .site-options .btn-edit {
        background-color: #f1f1f1;
        border-radius: 4px;
        color: #64656a;
        display: inline-block;
        font-weight: lighter;
        font-size: 13px;
        padding: 10px;
        text-align: center;
        margin: 0;
        height: 32px;
        width: 80px;
        vertical-align: top; }
        .sites-list .site-cell .site-options .btn-edit:hover {
          background-color: #5b6ec7;
          color: white; }
      .sites-list .site-cell .site-options .btn-preview {
        background: url("../img/btn_preview.svg") center no-repeat;
        background-size: 18px;
        display: none;
        height: 32px;
        width: 32px;
        vertical-align: top;
        transition: opacity 100ms linear; }
        .sites-list .site-cell .site-options .btn-preview:hover {
          opacity: 0.7; }
        .sites-list .site-cell .site-options .btn-preview:active {
          opacity: 0.8; }
        .sites-list .site-cell .site-options .btn-preview.available {
          display: inline-block; }
    .sites-list .site-cell .site-serve-switch {
      display: block;
      flex: 0 0 38px;
      padding: 0 8px; }
      .sites-list .site-cell .site-serve-switch:hover .groove .knob {
        opacity: 0.8; }
      .sites-list .site-cell .site-serve-switch:active .groove .knob {
        opacity: 0.6; }
      .sites-list .site-cell .site-serve-switch .groove {
        background-color: #f1f1f1;
        border-radius: 11px;
        padding: 3px;
        height: 34px;
        overflow: hidden;
        width: 22px;
        transition: background-color 200ms linear;
        box-shadow: inset 0 2px 2px #e9eaf3; }
        .sites-list .site-cell .site-serve-switch .groove .knob {
          border-radius: 8px;
          height: 22px;
          margin-top: 0;
          width: 16px;
          background-position-x: -30px;
          transition: background-color 100ms linear, background-position-x 500ms cubic-bezier(0.65, 1.65, 0.49, 0.97), margin-top 500ms cubic-bezier(0.65, 1.65, 0.49, 0.97), height 200ms cubic-bezier(0.65, 1.65, 0.49, 0.97), opacity 200ms linear; }
      .sites-list .site-cell .site-serve-switch.switch-off .groove .knob {
        background-color: #afb0b5;
        margin-top: 6px; }
      .sites-list .site-cell .site-serve-switch.switch-on .groove {
        background-color: #f1f1f1; }
        .sites-list .site-cell .site-serve-switch.switch-on .groove .knob {
          background-color: #5b6ec7;
          margin-top: 0; }
      .sites-list .site-cell .site-serve-switch.switch-on:active .groove .knob {
        opacity: 0.6; }
      .sites-list .site-cell .site-serve-switch.switch-working .groove .knob {
        background: #f1f1f1 url(../img/icn_rolling.svg) center no-repeat;
        background-size: 16px;
        margin-top: 3px;
        opacity: 1; }

.options-bar {
  flex: 0 0 48px;
  align-self: flex-end;
  background-color: #545976;
  color: #e9eaf3;
  height: 48px;
  width: 100%; }
  .options-bar .btn-create, .options-bar .btn-open, .options-bar .btn-settings {
    cursor: default;
    display: inline-block;
    opacity: .4;
    margin-top: 12px;
    height: 24px;
    width: 24px; }
    .options-bar .btn-create:hover, .options-bar .btn-open:hover, .options-bar .btn-settings:hover {
      opacity: 0.75; }
    .options-bar .btn-create:active, .options-bar .btn-open:active, .options-bar .btn-settings:active {
      opacity: 1; }
  .options-bar .btn-create {
    background: url(../img/btn_create.svg) center no-repeat;
    margin-left: 10px; }
  .options-bar .btn-open {
    background: url(../img/btn_open.svg) center no-repeat;
    margin-left: 16px; }
  .options-bar .btn-settings {
    float: right;
    background: url(../img/btn_settings.svg) center no-repeat;
    margin-right: 10px; }

/*# sourceMappingURL=style.css.map */
