.options-bar {
  display: flex;
  flex: 0 0 $options-bar-height;
  flex-direction: row;
  align-self: flex-end;

  background-color: $options-bg-color;
  color: $light-color;
  position: relative;
  height: $options-bar-height;
  width: 100%;

  .btn-create, .btn-open, .btn-settings {
    align-self: center;
    background: lighten($options-bg-color, 20%);
    cursor: default;
    display: inline-block;
    margin: 10px;

    transition: background-color 100ms linear;

    height: 24px;
    width: 24px;

      &:hover { background: lighten($options-bg-color, 30%); }
      &:active { background: lighten($options-bg-color, 25%); }
    }

    .hint-text {
      align-self: center;
      color: lighten($options-bg-color, 30%);
      opacity: 0;
      text-align: center;
      flex: 1 0 auto;
      font-weight: 300;
      font-size: 11px;
      transition: opacity $timing-snappy linear;
      transition-delay: 350ms;

      &.hint-available {
        opacity: 1;
        transition: opacity $timing-snappy-btn linear;
      }
    }

  .btn-create {
    -webkit-mask: url(../img/btn_create.svg) center no-repeat;
  }

  .btn-open {
    -webkit-mask: url(../img/btn_open.svg) center no-repeat;
  }

  .btn-settings {
    -webkit-mask: url(../img/btn_settings.svg) center no-repeat;
  }

}
