.options-bar {
  display: flex;
  flex: 0 0 $options-bar-height;
  flex-direction: row;
  align-self: flex-end;

  background-image: $options-gradient;
  color: $light-color;
  position: relative;
  height: $options-bar-height;
  width: 100%;

  transition: transform $timing-snappy ease-out;

  .btn-create, .btn-open, .btn-settings {
    align-self: center;
    background: $options-contrast-color;
    cursor: default;
    display: inline-block;
    margin: 10px;

    transition: background-color $timing-snappy-btn linear;

    height: 24px;
    width: 24px;

      &:hover { background: lighten($options-contrast-color, 10%); }
      &:active { background: lighten($options-contrast-color, 20%); }
    }

    .hint-text {
      align-self: center;
      color: $options-contrast-color;
      opacity: 0;
      text-align: center;
      flex: 1 0 auto;
      font-weight: 300;
      font-size: 11px;
      transition: opacity $timing-snappy linear;
      transition-delay: 350ms;

      &.hint-available {
        opacity: 1;
        transition: opacity $timing-snappy-btn linear;
      }
    }

  .btn-create {
    -webkit-mask: url(../img/btn_create.svg) center no-repeat;
  }

  .btn-open {
    -webkit-mask: url(../img/btn_open.svg) center no-repeat;
  }

  .btn-settings {
    -webkit-mask: url(../img/btn_settings.svg) center no-repeat;
  }

}

.empty-sites-list + .options-bar {
  transform: translateY($options-bar-height);
}
