// Variables pour le knob
$switch-knob-length: 6px; // 0 is round
$switch-movement-length: 6px; // 0 is no movement, also determines switch height;
$switch-groove-border-radius: 11px; // Is used in length calculations
$switch-knob-border-radius: 8px; // Is used in length calculations
$switch-edge-difference: $switch-groove-border-radius - $switch-knob-border-radius;

.site-serve-switch {
  display: block;
  flex: 0 0 38px;
  padding: 0 8px;

  &:hover .groove .knob { opacity: 0.8; }
  &:active .groove .knob { opacity: 0.6; }

  .groove {
    background-color: $switch-bg;
    border-radius: 11px;
    padding: $switch-edge-difference;
    height: ($switch-edge-difference * 2) + ($switch-knob-border-radius * 2) + $switch-knob-length + $switch-movement-length;
    overflow: hidden;
    width: ($switch-groove-border-radius * 2);
    transition: background-color 200ms linear;

    box-shadow: inset 0 2px 2px $light-color;

    .knob {
      border-radius: 8px;
      height: ($switch-knob-border-radius * 2) + $switch-knob-length;
      position: relative;
      margin-top: 0;
      width: $switch-knob-border-radius * 2;

      transition: background-color $timing-snappy linear,
                  margin-top $timing-snappy $bouncy-ease,
                  height $timing-snappy $bouncy-ease,
                  opacity $timing-snappy linear;

      .activity-indicator {
        -webkit-mask: url(../img/icn_rolling.svg) center no-repeat;
        -webkit-mask-size: 10%;
        background-color: $boring-gray;
        height: ($switch-knob-border-radius * 2) + $switch-knob-length;

        transition: background-color $timing-snappy linear,
                    -webkit-mask-size $timing-snappy ease;
      }
    }
  }

  &.switch-off .groove .knob {
    background-color: $boring-gray;
    margin-top: $switch-movement-length;
  }

  &.switch-on .groove {
    background-color: $switch-bg;

   .knob {
      background-color: $primary-color;
      margin-top: 0;

      .activity-indicator {
        -webkit-mask-size: 10%;
        background-color: $primary-color;
      }
    }
  }

  &.switch-on:active .groove .knob { opacity: 0.6; }

  &.switch-working .groove {
    .knob {
      background-color: $switch-bg;
      margin-top: $switch-movement-length/2;

      .activity-indicator {
        -webkit-mask-size: 100%;
        background-color: $primary-color;
        animation: working 1s $bouncy-ease 0s 10, giving-up linear 1s 10s forwards;
      }
    }
  }
}

@keyframes working {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes giving-up {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0.4;
  }
}
