$options-panel-width: 148px;
$options-panel-offset: 36px;
$error-button-offset: 38px;

.sites-list {
  flex: 1 1 auto;
  margin: 0;
  position: relative;

  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  z-index: 1;

  .site-cell {
    position: relative;
    z-index: 2;
    border-bottom: 1px solid #f1f2f2;
    overflow: hidden;

    &:hover .main-panel,  &.error .main-panel{ box-shadow: 2px 0 4px $light-color; }
    &.options-shown .main-panel,  &.options-shown.error .main-panel{
      margin-right: $options-panel-width;
      box-shadow: 2px 0 4px $light-color;
    }

    &.error .main-panel {
      margin-right: $options-panel-offset + $error-button-offset;
    }

    .main-panel{
      background-color: white;
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-right: $options-panel-offset;
      overflow: hidden;

      padding: 0 8px 0 0;

      position: relative;
      z-index: 5;

      transition: margin-right $timing-snappy $bouncy-ease-smoother,
                  box-shadow $timing-snappy ease-out;

      .site-info {
        flex: 1 1 0;
        padding: 18px 0;
        transition: color $timing-snappy linear;
        overflow: hidden;

        h1 {
          color: $primary-text-color;
          font-size: 14px;
          font-weight: bold;
          margin-bottom: 0;

          overflow: hidden;
          text-overflow: ellipsis;
          white-space:nowrap;

          &.server-active {
            color: $primary-color;
          }
        }

        .site-folder {
          background: url('../img/icn_folder.svg') left no-repeat;
          color: $boring-gray;
          display: block;
          font-size: 11px;
          padding: 2px 6px 0 12px;
          min-width: 0;
          height: 1.3em;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space:nowrap;

          transition: color 100ms linear;

          &:hover { color: $primary-text-color; opacity: 1;}
        }
      }

      .site-options {
        flex: 0 0 24px;
        padding: 4px 0 0;
        text-align: right;

        .btn-preview{
          background: $primary-color;
          -webkit-mask: url('../img/btn_preview.svg') center no-repeat;
          -webkit-mask-size: contain;
          margin-right: 10px;
          opacity: 0;
          width: 0;
          display: inline-block;
          height: 24px;
          vertical-align: top;

          transition: background-color 100ms linear,
                      margin-right $timing-snappy $bouncy-ease,
                      opacity 100ms linear,
                      width $timing-snappy $bouncy-ease;

          &.available {
            margin-right: 0px;
            opacity: 1;
            width: 18px;

            &:hover { background: darken($primary-color, 10%); }
            &:active { opacity: 0.8; }

            &.hold {
              background: $boring-gray;
            }
          }
        }
      }
    }

    .secondary-panel {
      background: white;
      height: 100%; // Apparently fixes a border flash?
      width: $options-panel-width;

      padding-top: 18px;
      text-align: right;

      position: absolute;
      top: 0;
      right: 0;

      z-index: 2;

      .btn-edit, .btn-remove, .btn-build, .btn-logs .btn {
        display: inline-block;
        vertical-align: middle;
        height: 28px;

        background: $boring-gray;
        margin-left: 10px;
        position: relative;
        width: 20px;

        transition: background-color $timing-snappy-btn linear;

        &:hover { background: darken($boring-gray, 30%); }
        &:active { background: darken($boring-gray, 20%); }
      }

      .btn-edit {
        float: right;
        -webkit-mask: url('../img/btn_edit.svg') center no-repeat;
        margin-right: 11px;
      }

      .btn-remove {
        -webkit-mask: url('../img/btn_forget.svg') center no-repeat;
        margin-top: 2px;
      }

      .btn-build {
        -webkit-mask: url('../img/btn_export.svg') center no-repeat;
      }

      .btn-logs {
        display: inline-block;
        position: relative;
        padding-right: 1px;

        .indicator {
          background-color: $error-color;
          border: 0px solid white;
          border-radius: 8px;
          content: "";
          position: absolute;
          top: 4px;
          right: 0;
          width: 10px;
          height: 10px;
          transform: scale(0);
          transition: transform $timing-snappy $bouncy-ease,
                      border-width $timing-snappy $bouncy-ease;

          box-shadow: 0 0 2px $light-color;
        }

        .btn {
          -webkit-mask: url('../img/btn_logs.svg') center no-repeat;
          -webkit-mask-size: contain;
          width: 0;
          margin-right: 4px;
          margin-top: 1px;

          transition: width $timing-snappy $bouncy-ease;
        }

        &.available .btn { top: 1px; width: 21px; }

        &.error .indicator {
          border-width: 2px;
          height: 10px;
          width: 10px;

          transform: scale(1);
          transition-delay: 120ms, 120ms;
        }
      }
    }
  }
}
