.title-bar {
  flex: 0 0 $title-bar-height;
  justify-content: space-between;

  -webkit-app-region: drag;
  -webkit-user-select: none;
  cursor: default;

  background-color: white;
  height: 36px;
  width: 100%;

  z-index: 2;

  box-shadow: 0 0 8px 0 #afb0b5;

  .btn-close, .btn-minimize {
    background: $boring-gray;
    cursor: default;
    display: inline-block;
    opacity: .4;
    margin-top: 10px;

    height: 18px;
    width: 18px;

    transition: background-color $timing-snappy-btn linear;

    &:hover { background: darken($boring-gray, 50%); }
    &:active { background: darken($boring-gray, 35%); }
  }

  .btn-close {
    -webkit-mask: url(../img/btn_close.svg) center no-repeat;
    margin-left: 10px;
  }

  .btn-minimize {
    -webkit-mask: url(../img/btn_minimize.svg) center no-repeat;
    margin-left: 6px;
  }
}
