.site-cell.slide-enter {
  opacity: 0.01;
  margin: -34px 0;
  transition: opacity $timing-snappy $bouncy-ease-smoother 150ms, margin $timing-snappy $bouncy-ease-smoother;
}

.site-cell.slide-enter.slide-enter-active {
  opacity: 1;
  margin: 0 0;
}

.site-cell.slide-leave {
  opacity: 1;
  margin: 0;
  transition: opacity $timing-snappy $bouncy-ease-smoother 250ms, margin $timing-snappy $bouncy-ease-smoother 250ms;
}

.site-cell.slide-leave.slide-leave-active {
  opacity: 0.01;
  margin: -34px 0;
}
